<h1>Gallerie</h1>
<% @galleries.each do |f| %>
<div class="gallery">
	<h2><%= link_to f.name, gallery_path(f) %></h2>
	<br>
	Paintings: <%= f.paintings.size %>
	</div>
	<% end %>
	<%= link_to 'new gallery', new_gallery_path %>